<a href="https://colab.research.google.com/github/Nithin611/sample1/blob/main/ML_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
import pandas as pd

In [ ]:
files.upload()

In [ ]:
!mkdir ~/.kaggle
!cp /content/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle competitions list

In [ ]:
!kaggle datasets list

In [ ]:
!kaggle competitions download -c titanic

In [ ]:
!kaggle datasets download totoro29/imdb-movies

In [12]:
df = pd.read_csv("/content/heart_v2 (1).csv")

In [13]:
df.head()

   age  sex   BP  cholestrol  heart disease
0   70    1  130         322              1
1   67    0  115         564              0
2   57    1  124         261              1
3   64    1  128         263              0
4   74    0  120         269              0

In [ ]:
!kaggle competitions submit -c titanic -f /content/titanic.zip -m test_submission_1