<a href="https://colab.research.google.com/github/Nithin611/sample1/blob/main/ML_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Multinomial Naives Bayes Ex-1**

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/google_play_store_apps_reviews_training.csv')
df.head()

,package_name,review,polarity
0,com.facebook.katana,privacy at least put some option appear offli...,0
1,com.facebook.katana,"messenger issues ever since the last update, ...",0
2,com.facebook.katana,profile any time my wife or anybody has more ...,0
3,com.facebook.katana,the new features suck for those of us who don...,0
4,com.facebook.katana,forced reload on uploading pic on replying co...,0

In [ ]:
df.shape

(891, 3)

In [ ]:
df.groupby('polarity').describe()

         package_name                                  review         \
                count unique                  top freq  count unique
polarity
0                 584     22  com.facebook.katana   40    584    584
1                 307     21       com.hamropatro   38    307    307


                                                        top freq
polarity
0          privacy at least put some option appear offli...    1
1          love it you are able to see celebrity tweets ...    1

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.review,df.polarity)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [ ]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.8295964125560538

In [ ]:
text = [' privacy at least put some option appear','messenger issues ever since the last update','profile any time my wife or anybody has more']
coun_vect = CountVectorizer()
count_matrix = coun_vect.fit_transform(text)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
print(df)

   any  anybody  appear  at  ever  has  issues  last  least  messenger  ...  \
0    0        0       1   1     0    0       0     0      1          0  ...
1    0        0       0   0     1    0       1     1      0          1  ...
2    1        1       0   0     0    1       0     0      0          0  ...

   or  privacy  profile  put  since  some  the  time  update  wife
0   0        1        0    1      0     1    0     0       0     0
1   0        0        0    0      1     0    1     0       1     0
2   1        0        1    0      0     0    0     1       0     1

[3 rows x 23 columns]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [ ]:
clf.fit(X_train, y_train)
clf.score(X_test,y_test)

0.8295964125560538

In [ ]:
clf.predict(text)

array([0, 0, 0])

### **Multinomial Naives Bayes Ex-2**

In [ ]:
df1 = pd.read_csv("/content/HR_comma_sep.csv")
df1.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low